{% extends 'base.html' %}

{% block content %}
<!-- Contenedor Principal -->
<div class="container-fluid dark-theme">
    
    <!-- Sección Portfolio -->
    <div class="row mb-4">
        <div class="col">
            <div class="card bg-dark border-secondary">
                <!-- Encabezado Portfolio -->
                <div class="card-header bg-darker d-flex justify-content-between align-items-center">
                    <div class="d-flex align-items-center">
                        <h2 class="code-font mb-0">Tu portfolio en Binance</h2>
                        <span class="ms-3 code-font text-success total-balance-usd" style="font-size: 1.5rem; font-weight: bold;">
                            ${{ total_balance_usd|floatformat:2 }}
                        </span>
                    </div>
                    <div class="window-controls">
                        <button class="btn btn-modern btn-sm minimize-btn" data-target="portfolio-content">
                            <i class="fas fa-minus"></i>
                        </button>
                        <button class="btn btn-modern btn-sm maximize-btn" data-target="portfolio-content">
                            <i class="fas fa-expand"></i>
                        </button>
                    </div>
                </div>
                
                <!-- Contenido Portfolio -->
                <div id="portfolio-content" class="card-body bg-darker">
                    <div class="code-block p-3 mb-4">
                        <table class="table table-dark table-hover code-font">
                            <thead>
                                <tr>
                                    <th>activo/precio</th>
                                    <th>
                                        disponible
                                        <button class="btn btn-sm btn-outline-secondary toggle-usd" data-target="disponible">
                                            <i class="fas fa-dollar-sign"></i>
                                        </button>
                                    </th>
                                    <th>
                                        bloqueado
                                        <button class="btn btn-sm btn-outline-secondary toggle-usd" data-target="bloqueado">
                                            <i class="fas fa-dollar-sign"></i>
                                        </button>
                                    </th>
                                    <th>
                                        <span class="strategy1-header">estrategia 1</span>
                                        <button class="btn btn-sm btn-outline-secondary toggle-strategy" data-target="strategy1">
                                            <i class="fas fa-robot"></i>
                                        </button>
                                    </th>
                                    <th>
                                        <span class="strategy2-header"> estrategia 2</span>
                                        <button class="btn btn-sm btn-outline-secondary toggle-strategy" data-target="strategy2">
                                            <i class="fas fa-robot"></i>
                                        </button>
                                    </th>
                                    <th>
                                        <span class="strategy3-header">estrategia 3</span>
                                        <button class="btn btn-sm btn-outline-secondary toggle-strategy" data-target="strategy3">
                                            <i class="fas fa-robot"></i>
                                        </button>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for balance in balances %}
                                <tr>
                                    <td>
                                        <span class="text-primary">"{{balance.asset}}"</span>
                                        <br>
                                        <span class="text-info">{{balance.current_price}}</span>
                                    </td>
                                    <td>
                                        <span class="text-success amount">{{balance.free}}</span>
                                        <span class="text-success usd d-none">${{ balance.free|floatformat:2 }}</span>
                                    </td>
                                    <td>
                                        <span class="text-warning amount">{{balance.locked}}</span>
                                        <span class="text-warning usd d-none">${{ balance.locked|floatformat:2 }}</span>
                                    </td>
                                    <td><span class="text-info">-</span></td>
                                    <td><span class="text-info">-</span></td>
                                    <td><span class="text-info">-</span></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="balance-chart-content" class="card-body bg-darker">
        <div id="balanceChart" style="height: 400px;"></div>
    </div>
    <!-- Sección Gráfico -->
    <div class="row">
        <div class="col">
            <div class="card bg-dark border-secondary">
                <!-- Encabezado Gráfico -->
                <div class="card-header bg-darker">
                    <div class="d-flex justify-content-between align-items-center">
                        <!-- Selector de Símbolo y Balance -->
                        <div class="d-flex align-items-center">
                            <select id="symbolSelector" class="form-select form-select-sm bg-dark text-light code-font border-secondary custom-select">
                                {% for balance in balances %}
                                    <option value="{{ balance.asset }}USDT">{{ balance.asset }}/USDT</option>
                                {% endfor %}
                            </select>
                            <div class="dropdown ms-2">
                                <button class="btn btn-dark dropdown-toggle" type="button" id="predictionsDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                                    Predicciones
                                </button>
                                <div class="dropdown-menu bg-dark" aria-labelledby="predictionsDropdown">
                                    <div class="form-check ms-2">
                                        <input class="form-check-input" type="checkbox" id="toggleAllPredictions">
                                        <label class="form-check-label text-light code-font" for="toggleAllPredictions">Todas</label>
                                    </div>
                                    <div class="dropdown-divider"></div>
                                    <div class="form-check ms-2">
                                        <input class="form-check-input prediction-checkbox" type="checkbox" id="showLSTM">
                                        <label class="form-check-label text-light code-font" for="showLSTM">LSTM</label>
                                    </div>
                                    <div class="form-check ms-2">
                                        <input class="form-check-input prediction-checkbox" type="checkbox" id="showTimeGAN">
                                        <label class="form-check-label text-light code-font" for="showTimeGAN">TimeGAN</label>
                                    </div>
                                </div>
                            </div>
                            <div class="dropdown ms-2">
                                <button class="btn btn-dark dropdown-toggle" type="button" id="tradesDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                                    Transacciones
                                </button>
                                <div class="dropdown-menu bg-dark" aria-labelledby="tradesDropdown">
                                    <div class="form-check ms-2">
                                        <input class="form-check-input" type="checkbox" id="showTrades">
                                        <label class="form-check-label text-light code-font" for="showTrades">Real</label>
                                    </div>
                                    <div class="form-check ms-2">
                                        <input class="form-check-input" type="checkbox" id="showSimulation1">
                                        <label class="form-check-label text-light code-font" for="showSimulation1">Simulación 1</label>
                                    </div>
                                    <div class="form-check ms-2">
                                        <input class="form-check-input" type="checkbox" id="showSimulation2">
                                        <label class="form-check-label text-light code-font" for="showSimulation2">Simulación 2</label>
                                    </div>
                                    <div class="form-check ms-2">
                                        <input class="form-check-input" type="checkbox" id="showSimulation3">
                                        <label class="form-check-label text-light code-font" for="showSimulation3">Simulación 3</label>
                                    </div>
                                </div>
                            </div>
                            <div class="ms-3 code-font">
                                <span id="assetBalance" class="text-success"></span>
                                <span id="assetChange" class="ms-2"></span>
                            </div>
                        </div>

                        <div class="dropdown">
                            <button class="btn btn-dark dropdown-toggle" type="button" id="indicatorsDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                                Indicadores 
                            </button>
                            <div class="dropdown-menu bg-dark" aria-labelledby="indicatorsDropdown">
                                <div class="form-check ms-2">
                                    <input class="form-check-input" type="checkbox" id="toggleAllIndicators">
                                    <label class="form-check-label text-light code-font" for="toggleAllIndicators">Todos</label>
                                </div>
                                <div class="dropdown-divider"></div>

                                <!-- Indicadores de Tendencia -->
                                <div class="dropdown-header text-light">Indicadores de Tendencia</div>
                                <div class="form-check form-switch ms-2">
                                    <input class="form-check-input indicator-checkbox" type="checkbox" id="showSMA">
                                    <label class="form-check-label text-light code-font" for="showSMA">Media Móvil Simple (SMA)</label>
                                </div>
                                <div class="form-check form-switch ms-2">
                                    <input class="form-check-input indicator-checkbox" type="checkbox" id="showEMA">
                                    <label class="form-check-label text-light code-font" for="showEMA">Media Móvil Exponencial (EMA)</label>
                                </div>
                                <div class="form-check form-switch ms-2">
                                    <input class="form-check-input indicator-checkbox" type="checkbox" id="showBollinger">
                                    <label class="form-check-label text-light code-font" for="showBollinger">Bandas de Bollinger</label>
                                </div>
                                <div class="form-check form-switch ms-2">
                                    <input class="form-check-input indicator-checkbox" type="checkbox" id="showPSAR">
                                    <label class="form-check-label text-light code-font" for="showPSAR">Parabolic SAR</label>
                                </div>

                                <!-- Indicadores de Momentum -->
                                <div class="dropdown-header text-light">Indicadores de Momentum</div>
                                <div class="form-check form-switch ms-2">
                                    <input class="form-check-input indicator-checkbox" type="checkbox" id="showRSI">
                                    <label class="form-check-label text-light code-font" for="showRSI">RSI</label>
                                </div>
                                <div class="form-check form-switch ms-2">
                                    <input class="form-check-input indicator-checkbox" type="checkbox" id="showMACD">
                                    <label class="form-check-label text-light code-font" for="showMACD">MACD</label>
                                </div>
                                <div class="form-check form-switch ms-2">
                                    <input class="form-check-input indicator-checkbox" type="checkbox" id="showStochastic">
                                    <label class="form-check-label text-light code-font" for="showStochastic">Estocástico</label>
                                </div>

                                <!-- Indicadores de Volumen -->
                                <div class="dropdown-header text-light">Indicadores de Volumen</div>
                                <div class="form-check form-switch ms-2">
                                    <input class="form-check-input indicator-checkbox" type="checkbox" id="showOBV">
                                    <label class="form-check-label text-light code-font" for="showOBV">Volumen en Balance (OBV)</label>
                                </div>
                                <div class="form-check form-switch ms-2">
                                    <input class="form-check-input indicator-checkbox" type="checkbox" id="showAD">
                                    <label class="form-check-label text-light code-font" for="showAD">Acumulación/Distribución</label>
                                </div>

                                <!-- Indicadores de Volatilidad -->
                                <div class="dropdown-header text-light">Indicadores de Volatilidad</div>
                                <div class="form-check form-switch ms-2">
                                    <input class="form-check-input indicator-checkbox" type="checkbox" id="showADX">
                                    <label class="form-check-label text-light code-font" for="showADX">ADX</label>
                                </div>
                                <div class="form-check form-switch ms-2">
                                    <input class="form-check-input indicator-checkbox" type="checkbox" id="showATR">
                                    <label class="form-check-label text-light code-font" for="showATR">ATR</label>
                                </div>

                                <!-- Indicadores de Soporte/Resistencia -->
                                <div class="dropdown-header text-light">Soporte/Resistencia</div>
                                <div class="form-check form-switch ms-2">
                                    <input class="form-check-input indicator-checkbox" type="checkbox" id="showPivot">
                                    <label class="form-check-label text-light code-font" for="showPivot">Puntos Pivote</label>
                                </div>
                                <div class="form-check form-switch ms-2">
                                    <input class="form-check-input indicator-checkbox" type="checkbox" id="showFibonacci">
                                    <label class="form-check-label text-light code-font" for="showFibonacci">Niveles de Fibonacci</label>
                                </div>
                            </div>
                        </div>
                        <div class="ms-3 code-font">
                            <button id="extractDataButton" class="btn btn-modern btn-sm d-flex align-items-center gap-2">
                                <i class="fas fa-file-export"></i>
                                <span>Extraer Datos del Gráfico</span>
                            </button>
                        </div>

                        
                        <!-- Controles del Gráfico -->
                        <div class="d-flex align-items-center">
                            <!-- Intervalos de Tiempo -->
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-modern code-font" data-interval="1m">1m</button>
                                <button type="button" class="btn btn-modern code-font" data-interval="5m">5m</button>
                                <button type="button" class="btn btn-modern code-font" data-interval="1h">1h</button>
                                <button type="button" class="btn btn-modern code-font" data-interval="1d">1d</button>
                                <button type="button" class="btn btn-modern code-font" data-interval="1w">1w</button>
                                <button type="button" class="btn btn-modern code-font" data-interval="1M">1M</button>
                            </div>
                            <!-- Input para establecer el límite de valores -->
                            <div class="input-group ms-2">
                                <input type="number" id="limitInput" class="form-control form-control-sm bg-dark text-light code-font border-secondary" placeholder="Límite" min="50" value="100">
                            </div>
                            <!-- Tipo de Gráfico -->
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-modern code-font" data-chart-type="candlestick" style="font-size: 1.5em;">
                                    📊
                                </button>
                                <button type="button" class="btn btn-modern code-font" data-chart-type="line" style="font-size: 1.5em;">
                                    📈
                                </button>
                            </div>
                            <!-- Controles de Ventana -->
                            <div class="window-controls ms-3">
                                <button class="btn btn-modern btn-sm minimize-btn" data-target="chart-content">
                                    <i class="fas fa-minus"></i>
                                </button>
                                <button class="btn btn-modern btn-sm maximize-btn" data-target="chart-content">
                                    <i class="fas fa-expand"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- Contenido Gráfico -->
                <div id="chart-content" class="card-body bg-darker">
                    <div id="priceChart" style="height: 800px;"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- Sección Editor de Código -->
    <div class="row mt-4">
        <div class="col">
            <div class="card bg-dark border-secondary">
                <!-- Encabezado Editor -->
                <div class="card-header bg-darker d-flex justify-content-between align-items-center">
                    <h5 class="code-font mb-0">Code Editor</h5>
                    <div class="d-flex align-items-center">
                        <!-- Botones de Acción -->
                        <button id="newFile" class="btn btn-modern code-font me-2">
                            <i class="fas fa-file"></i> New File
                        </button>
                        <button id="newFolder" class="btn btn-modern code-font me-2">
                            <i class="fas fa-folder-plus"></i> New Folder
                        </button>
                        <button id="saveCode" class="btn btn-modern code-font me-2">
                            <i class="fas fa-save"></i> Save
                        </button>
                        <button id="runBot" class="btn btn-modern code-font">
                            <i class="fas fa-play"></i> Run
                        </button>
                        <!-- Controles de Ventana -->
                        <div class="window-controls ms-3">
                            <button class="btn btn-modern btn-sm minimize-btn" data-target="editor-content">
                                <i class="fas fa-minus"></i>
                            </button>
                            <button class="btn btn-modern btn-sm maximize-btn" data-target="editor-content">
                                <i class="fas fa-expand"></i>
                            </button>
                        </div>
                    </div>
                </div>
                
                <!-- Contenido Editor -->
                <div id="editor-content" class="card-body bg-darker p-0">
                    <div class="row g-0">
                        
                        <!-- Explorador de Archivos -->
                        <div class="col-3 border-end border-secondary">
                            <div id="fileExplorer" class="file-explorer">
                                <div class="p-2">
                                    <div class="file-tree">
                                        <!-- El árbol de archivos se generará dinámicamente -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <!-- Editor de Código -->
                        <div class="col-6">
                            <div id="editor" style="height: 500px; position: relative;"></div>
                        <!-- Agregar justo después del div del editor -->
                        <div id="floatingButton" class="floating-button" style="display: none;">
                            <button id="sendToChat" class="btn btn-sm btn-modern">
                                <i class="fas fa-comment"></i>
                                </button>
                                <button id="editSelection" class="btn btn-sm btn-modern">
                                    <i class="fas fa-edit"></i>
                                </button>
                            </div>
                        </div>
                        
                     
                        <!-- Chat GPT -->
                        <div class="col-3 border-end border-secondary">
                            <div id="chatGPT" class="chat-container">
                                <div class="chat-messages" id="chatMessages">
                                    <!-- Los mensajes se agregarán aquí dinámicamente -->
                                </div>
                                <div class="chat-input-container">
                                    <textarea id="chatInput" class="chat-input" placeholder="Pregunta algo a ChatGPT..."></textarea>
                                    <button id="sendChat" class="btn btn-modern btn-sm">
                                        <i class="fas fa-paper-plane"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Sección Terminal -->
    <div class="row mt-4">
        <div class="col">
            <div class="card bg-dark border-secondary">
                <!-- Encabezado Terminal -->
                <div class="card-header bg-darker d-flex justify-content-between align-items-center">
                    <h5 class="code-font mb-0">Terminal</h5>
                    <div class="d-flex align-items-center">
                        <button id="scrollToBottom" class="btn btn-modern btn-sm me-2">
                            <i class="fas fa-arrow-down"></i> Scroll Down
                        </button>
                        <button id="clearTerminal" class="btn btn-modern btn-sm me-2">
                            <i class="fas fa-broom"></i> Clear
                        </button>
                        <div class="window-controls">
                            <button class="btn btn-modern btn-sm minimize-btn" data-target="terminal-content">
                                <i class="fas fa-minus"></i>
                            </button>
                            <button class="btn btn-modern btn-sm maximize-btn" data-target="terminal-content">
                                <i class="fas fa-expand"></i>
                            </button>
                        </div>
                    </div>
                </div>
                
                <!-- Contenido Terminal -->
                <div id="terminal-content" class="card-body bg-darker p-0">
                    <pre id="botOutput" class="p-3 text-light" style="height: 300px; overflow-y: scroll;"></pre>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modales -->
{% include 'trading/modals/new_item_modal.html' %}

<!-- Estilos -->
{% include 'trading/styles/dashboard_styles.html' %}
<!-- Scripts externos -->
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/ace.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Scripts -->
<script type="module" src="static/scripts/utils/utils.js"></script>
<script type="module" src="static/scripts/utils/chartConfig.js"></script>
<script type="module" src="static/scripts/utils/execute_strategies.js"></script>
<script type="module" src="static/scripts/utils/tecnical_indicators.js"></script>
<script type="module" src="static/scripts/utils/balances.js"></script>
<script type="module" src="static/scripts/utils/max_min_buttons.js"></script>
<script type="module" src="static/scripts/utils/chart_traces.js"></script>
<script type="module" src="static/scripts/utils/terminal.js"></script>
<script type = "module" src="static/scripts/dashboard_scripts.js"></script>





{% endblock %} <!-- Font Awesome -->