{% extends 'base.html' %}
{% block content %}
<div class="container-fluid dark-theme">
    {% include 'trading/balance_section.html' %}
    {% include 'trading/charts_section.html' %}
    {% include 'trading/editor_section.html' %}
</div>
<!-- Modales -->
{% include 'trading/modals/new_item_modal.html' %}
<!-- Estilos -->
{% include 'trading/styles/dashboard_styles.html' %}
<!-- Scripts externos -->
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/ace.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- Scripts -->
<script type="module" src="static/scripts/utils/utils.js"></script>
<script type="module" src="static/scripts/utils/chartConfig.js"></script>
<script type="module" src="static/scripts/utils/execute_strategies.js"></script>
<script type="module" src="static/scripts/utils/tecnical_indicators.js"></script>
<script type="module" src="static/scripts/utils/balances.js"></script>
<script type="module" src="static/scripts/utils/max_min_buttons.js"></script>
<script type="module" src="static/scripts/utils/chart_traces.js"></script>
<script type="module" src="static/scripts/utils/terminal.js"></script>
<script type="module" src="static/scripts/dashboard_scripts.js"></script>
{% endblock %}